@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

@font-face {
	font-family: 'Lunacy';
	src: url('Assets/Fonts/Lunacy.woff') format('woff'),
		url('Assets/Fonts/Lunacy.woff2') format('woff2');
}

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	user-select: none;
	transition: 100ms ease-in-out;
}

html,
body {
	height: 100vh;
	width: 100vw;
	cursor: url(./Assets/Cursors/ghost.cur), auto;
	overflow: overlay;
}

body {
	background: radial-gradient(hsl(34, 100%, 31%), hsl(33, 100%, 12%));
}

h1.page-title {
	color: hsl(26, 100%, 50%);
	font-family: 'Creepster', sans-serif;
	text-align: center;
	font-size: 6em;
	padding: 28px;
}

div.start-screen {
	height: 100vh;
	width: 100vw;
	color: hsl(26, 100%, 50%);
	background: hsla(0, 0%, 7%, 0.73);
	font-family: 'Creepster', sans-serif;
	text-align: center;
	font-size: 6em;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: url(./Assets/Cursors/ghost-hover.cur), pointer;
	transition: 700ms ease-in-out;
}

div.start-screen.remove,
div.lose-screen.remove,
div.victory-screen.remove {
	animation: fadeOut 700ms ease-in-out 0s 1 forwards;
}

div.start-screen:active,
div.lose-screen:active,
div.victory-screen:active {
	color: hsl(208, 100%, 97%);
}

div.start-screen:active > div,
div.lose-screen:active > div,
div.victory-screen:active > div {
	transform: scale(0.85);
}

@keyframes fadeOut {
	100% {
		opacity: 0;
	}
}

div.lose-screen {
	color: hsl(26, 100%, 50%);
	background: hsla(0, 0%, 7%, 0.73);
	font-family: 'Creepster', sans-serif;
	text-align: center;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 100;
	cursor: url(./Assets/Cursors/ghost-hover.cur), pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
}

div.lose-screen div {
	width: 100%;
}

div.lose-screen div.small {
	font-size: 3em;
}

div.lose-screen > div {
	font-size: 1em;
}

div.lose-screen > div > div:not(.small),
div.victory-screen > div:nth-child(1) {
	font-size: 8em;
}

div.victory-screen {
	font-family: 'Creepster', sans-serif;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	height: 100vh;
	width: 100vw;
	display: flex;
	text-align: center;
	color: hsl(26deg 100% 50%);
	background: hsla(0, 0%, 7%, 0.73);
	align-items: center;
	justify-content: center;
	cursor: url(./assets/cursors/ghost-hover.cur), pointer;
	opacity: 0;
}

div.more-info {
	font-size: 52px;
}

div.status {
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-family: 'Lunacy', sans-serif !important;
	font-size: 3em;
	color: hsl(25, 100%, 77%);
}

div.time span.less {
	animation: blinking 0.5s ease-in-out 0s infinite;
}

@keyframes blinking {
	0% {
		color: hsl(25, 100%, 77%);
	}
	100% {
		color: hsl(0, 100%, 63%);
	}
}

div.💳-📦 {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: calc(100vw - 80px);
	margin: auto;
	perspective: 1200px;
}

div.💳 {
	position: relative;
	height: 175px;
	width: 125px;
	margin: 4px;
}

div.💳-face {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	backface-visibility: hidden;
	border-radius: 12px;
	border-width: 1px;
	border-style: solid;
	transition: transform 800ms ease-in-out;
	cursor: url(./Assets/Cursors/ghost-hover.cur), pointer;
}

div.💳.visible div.💳-back {
	transform: rotateY(-180deg);
}

div.💳.visible div.💳-front {
	transform: rotateY(0deg);
}

div.💳.matched img.💳-value {
	animation: rotate 1s linear infinite 800ms;
}

@keyframes rotate {
	0%,
	100% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-30deg);
	}
	75% {
		transform: rotate(30deg);
	}
}

div.💳-back {
	background-color: hsl(0, 0%, 0%);
	border-color: hsl(26, 100%, 50%);
}

div.💳-front {
	background-color: hsl(25, 100%, 77%);
	border-color: hsl(0, 0%, 20%);
	transform: rotateY(180deg);
}

img.💳-value {
	transform: scale(0.9);
}

div.💳-front:hover img.💳-value {
	transform: scale(1);
}

img.🕸 {
	position: absolute;
	width: 47px;
}

img.🕸-top-left {
	transform: rotate(-90deg);
	top: 0px;
	left: 0px;
}

img.🕸-top-right {
	top: 0px;
	right: 0px;
}

img.🕸-bottom-left {
	transform: rotate(180deg);
	bottom: 0px;
	left: 0px;
}

img.🕸-bottom-right {
	transform: rotate(90deg);
	bottom: 0px;
	right: 0px;
}

img.🕷 {
	align-self: flex-start;
	transform: translateY(-10px);
}

div.💳-back:hover img.🕷 {
	transform: translateY(0px);
}

div.💳-face:hover img.🕸 {
	width: 52px;
}
